<div *ngIf="isUserDataLoaded" class="user-profile">

  <h1>Profile</h1>
  <div style="text-align: right">

  </div>

  <div style="padding-top: 2rem" class="row">
    <div class="col" style="text-align: center">

      <h2>{{user.email}}</h2>

      <h3 style="font-style: italic">{{user.firstName}} {{user.lastName}}</h3>

    </div>

    <mat-divider style="margin: 2rem 0"></mat-divider>

    <router-outlet></router-outlet>

  </div>

</div>
