<!--<div *ngIf="isPostsLoaded && isUserDataLoaded" class="index-page">-->
<div class="index-page">
  <mat-card class="post-card" *ngFor="let post of posts; let i = index">
    <mat-card-header style="text-align: left">

      <mat-card-title><strong>Title : </strong>{{post.title}}</mat-card-title>
      <mat-card-title><strong>Asked </strong>{{post.createdAt}}</mat-card-title>

    </mat-card-header>
    <mat-card-subtitle align="start">Posted by : {{post.email}}</mat-card-subtitle>

    <mat-card-subtitle align="start"><strong>Question : </strong> {{post.body}}</mat-card-subtitle>

<div *ngIf="isUserDataLoaded" >
    <mat-card-actions align="start">
      <span>{{post.voteUser.length}}</span>

      <button mat-button (click)="votePost(post.id, i)"
              [ngClass]="post.voteUser.indexOf(user.email) !== -1 ? 'is-voted' : 'not-voted'">
        Vote
      </button>
    </mat-card-actions>
</div>

    <h3>Answers</h3>
    <div style="text-align: left" *ngFor="let comment of post.comments; ">

      <p><span style="font-weight: 500">{{comment.email}}</span>: {{comment.answer}}</p>

    </div>

  <div *ngIf="isUserDataLoaded">
    <mat-form-field class="w-100">
      <mat-label>Answer</mat-label>
      <input  type="text" #box (keyup.enter)="postComment(box.value, post.id, i)" [value]="clearValue" matInput>
      <mat-hint align="end"></mat-hint>
    </mat-form-field>

  </div>

  </mat-card>
</div>
