.index-page {
  display: block;
  margin: 0 auto;
  width: 60%;
  padding-top: 3rem;
}

.post-card {
  display: block;
  margin: 2rem auto;
  width: 80%;
}

.is-voted {
  color: darkred;
  border: 2px solid red;
}

.not-voted {
  color: grey;
  border: 2px solid green;
}
