<mat-toolbar color="primary">
  <span routerLink="/main" style="cursor: pointer;margin-left: 20px;">Forum</span>

  <span class="spacer"></span>

  <button *ngIf="!isLoggedIn" matTooltip="Login" routerLink="/login" mat-icon-button class="example-icon favorite-icon">
    <mat-icon>login</mat-icon>
  </button>


  <h3 *ngIf="isDataLoaded">{{this.user.firstName}} {{this.user.lastName}}</h3>

  <button *ngIf="isLoggedIn" [matMenuTriggerFor]="menu" matTooltip="Profile" mat-icon-button>
    <mat-icon color="accent">account_box</mat-icon>
  </button>
  <mat-menu id="menu-item" #menu="matMenu">
    <button mat-menu-item routerLink="/profile">Profile</button>
    <button (click)="logout()" mat-menu-item>
      Logout
    </button>
  </mat-menu>
</mat-toolbar>
