<div *ngIf="isUserPostsLoaded" xmlns="http://www.w3.org/1999/html">
  <div style="text-align: right">
    <button mat-flat-button color="primary" routerLink="/profile/add">Add Post</button>
  </div>

  <h2>{{posts.length}} Posts</h2>

  <mat-card class="post-card" *ngFor="let post of posts; let i = index">
    <mat-card-header style="text-align: left">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Title : {{post.title}}</mat-card-title>
      <mat-card-subtitle>Body :{{post.body}}</mat-card-subtitle>
    </mat-card-header>

    <h4>Answers</h4>
    <div style="text-align: left">
      <p *ngFor="let comment of post.comments; let c = index"><span
        style="font-weight: 500">{{comment.email}}</span>: {{comment.answer}}
        <button color="accent" mat-button (click)="deleteComment(comment.id, i, c)">
          <mat-icon color="accent">clear</mat-icon>
        </button>
      </p>
    </div>

    <mat-card-actions align="end">
      <button color="warn" mat-button (click)="removePost(post, i)">
        <mat-icon color="warn">delete</mat-icon>
        Remove Post
      </button>
    </mat-card-actions>

    <mat-card-subtitle align="start">Votes: {{post.vote}} <span *ngIf="post.vote > 0">by {{post.voteUser}}</span>
    </mat-card-subtitle>
  </mat-card>
</div>
