<div>
  <div style="text-align: right">
    <button mat-flat-button color="primary" routerLink="/profile">Posts</button>
  </div>

  <h2>Create Post</h2>
  <form [formGroup]="postForm">


    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput
             formControlName="title">
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Body</mat-label>
      <input matInput
             formControlName="body">
    </mat-form-field>

    <h2>List tags</h2>
    <mat-form-field appearance="fill">
      <mat-label>Tags</mat-label>
      <mat-select [formControl]="toppings" [(ngModel)]="selectedValue" multiple>
        <mat-option *ngFor="let tag of tags" [value]="tag.id">{{tag.name}}</mat-option>
      </mat-select>
    </mat-form-field>


    <div style="text-align: right">
      <button mat-flat-button color="primary" [disabled]="postForm.invalid" (click)="submit()">
        Create Post
      </button>
    </div>

  </form>



</div>
